@import 'base';
@import 'header';
@import 'footer';
@import 'locationsPage';
@import 'careersPage';
@import 'aboutPage';
@import 'homePage';



//MEIDA QUERIES OF THE PAGES
//HOME PAGE 

@media (max-width:1160px){

    //HOMEPAGE STARTS

    .container,
    .about-container{
        width: 1000px;
    }
    
    section{
        padding: 70px 0;
    }

    .nav-list{
        margin-left: -300px;
    }

    .straight-line, .circles{
        display: none;
    }

    .scooter-sharing__info{
        .header1{
            padding-left: 50px;
        }
    }

    .benefits-line{
        top: 25%;
    }

    .scoot-info-item{
        justify-content: space-around;
    }

    .sign-up{
        .container{
            justify-content: space-evenly;
        }
    }

    .footer{
        .container{
            justify-content: space-around;
            .footer-list{
                margin-left: -200px;
            }
        }
    }

    //HOMEPAGE ends here

    //locations page

    .world-map-info{
        flex-direction: column;

        .text,
        .header2{
            width: 70%;
            text-align: center;
        }
    }
}


@media (max-width: 1024px){
    .container,
    .about-container{
        width: 900px;
    }

    .nav-list{
        margin-left: -200px;
    }

    .scooter-sharing{
        background-position: center;
        padding: 250px 0;
    }

    .scooter-sharing__info{
        width: 80%;
        text-align: center;
        padding-left: 0;
        
        .header1{
            padding-left: 100px;
            text-align: center;
        }
    }

    .circles{
        display: inline-block;
        top: 82%;
    }

    .uneven-line{
        top: 75%;
        left: 0;
    }

    .benefits-list{
        flex-direction: column;
    }

    .benefits-item{
        display: flex;
        justify-content: space-evenly;
    }

    .benefits-item-info{
        width: 60%;
    }

    .benefits-line{
        transform: rotate(90deg);
        top: 0%;
        left: -29%;
    }

    .scoot-info-item{
        flex-direction: column-reverse !important;
    }

    .scoot-info-item-content{
        width: 80%;
        text-align: center;

        .header2{
            padding-top: 50px;
        }
    }

    .longline-from-right{
        top: 15%;
    }

    .sign-up{
        .container{
            flex-direction: column;
            text-align: center;

            .sign-up-info{
                width: 50%;
                padding-bottom: 50px;
            }
        }
    }

    .footer-list{
        margin-left: -100px !important;
    }

    //HOMEPAGE ends

    //About landing page

    .about-girl-line{
        top: 20%;
    }

    .about-half-left-circle{
        top: 4%;
    }

    .values-list{
        flex-direction: column;
        padding-left: 0;
    }

    .values-item{
        width: 80%;
    }

    .text{
        padding: 20px 0;
    }

    .FAQ-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .FAQ-right,.FAQ-left{
        width: 80%;
    }

    //careers page

    .careers-longline-from-right{
        top: 40%;
    }

    //location page

    .new-york-img{
        top: 4%;
    }

    .london-img{
        top: -1%;
    }

    .yokohoma-img{
        right: 4%;
    }

    .jakarta-img{
        right: 10%;
        top: 25%;
    }

}


@media (max-width: 920px){
    .container,
    .about-container{
        width: 768px;
    }

    .nav-list{
        margin-left: -100px;
    }

    .benefits-line{
        left: -33%;
    }

    //location page

    .new-york-img{
        top: 5%;
        left: 12%;
        width: 20%;
    }

    .london-img{
        top: -1%;
        width: 20%;
    }

    .yokohoma-img{
        top: 6%;
        right: 5%;
        width: 20%;
    }

    .jakarta-img{
        right: 10%;
        top: 22%;
        width: 20%;
    }
}


@media (max-width: 780px){
    .container,
    .about-container{
        width: 600px;
    }

    section{
        padding: 60px 0;
    }

    .navbar{
        .container,
        .about-container{
            margin-left: 10%;
            width: 55%;
            justify-content: space-between;
        }
    }
    
    .nav-list,
    .nav-btn{
        display: none;
    }
    

    .bar-menu-link{
        display: inline-block;
    }

    .nav-list.activated{
        z-index: 888;
        position: fixed;
        background-color: $titleColor;
        top: 0%;
        left: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px;
        transition: .3s ease;
        

        .nav-item{
            padding: 30px 0 !important;
            .nav-link{
                font-size: $headerSize_4;
                &:hover{
                    color: $primaryColor;
                }
            }
        }
    }

    .bar-menu-link.activated{
        z-index: 999;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        transition: .4s ease;

        img {
            content:url(../images/icon-menu-close.svg);
        }
        
    }

    .nav-btn.activated{
        display: inline-block;
        position: fixed;
        bottom: 5%;
        left: 5%;
        z-index: 999;
    }

    .uneven-line,
    .circles{
        display: none;
    }

    .scooter-sharing{

        background-position: center right;
        padding: 200px 0;
        .container{
            width: 68%;
        }
    }

    .media-line{
        display: inline-block;
        position: absolute;
        top: 75%;
        left: 0;
        //z-index: 999;
    }

    .scooter-sharing__info{
        width: 100%;
        .header1{
            padding-left: 0;
        }
        .scooter-sharing__mini___info{
            padding-left: 0;
        }
    }

    .benefits-line{
        display: none;
    }

    .benefits-item{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .benefits-item-info{
        width: 80%;
    }

    .half-left-circle,
    .half-left-circle2,
    .half-right-circle{
        display: none;
    }

    .header1{
        font-size: $headerSize_2;
    }

    .header2{
        font-size: $headerSize_3;
    }

    .sign-up-info{
        width: 80% !important;
    }

    .footer{
        padding: 50px 0;
        .container{
            flex-direction: column;
            align-items: center;

            .footer-list{
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
                padding-left: 100px;

                .footer-item{
                    padding: 20px 0;
                }
            }

            .icons-list{
                padding-top: 20px;

                .icons-item{
                    font-size: 30px;
                }
            }
        }
    }

    //HOMEPAGE ends here

    //about page starts

    .about-bg-image{
        background-position: center;
        text-align: center;
    }

    .about-half-left-circle,
    .about-half-right-circle{
        display: none;
    }

    .about-girl-line{
        top: 18%;
    }

    .icons-list{
        padding-left: 0;
    }


    //careers page

    .careers-bg-image{
        background-position: left;
        text-align: center;
    }

    .jobs-item{
        flex-direction: column;
        text-align: center;
    }

    .careers-btn{
        width: 80%;
    }


    //loactions page

    .london-img,
    .new-york-img,
    .yokohoma-img,
    .jakarta-img{
        display: none;
    }

    .world-map-img{
        width: 100%;
    }

    .world-map-countries{
        display: block;
        padding: 20px  0;
        text-align: center;

        .header2{
            background-color: rgba(252, 183, 43, 0.15);
            margin: 10px 0;
            padding: 20px 0;
            color: $titleColor;
        }
    }

}


@media (max-width: 620px){
    .container,
    .about-container{
        width: 500px;
    }

    .header1{
        font-size: $headerSize_3;
    }

    .header2{
        font-size: $headerSize_4;
    }

    .header3{
        font-size: 20px;
    }
    .media-line{
        top: 70%;
    }

    .btn{
        padding: 5px 20px;
        font-weight: normal;
    }

    //about page

}


@media (max-width: 520px){
    .container,
    .about-container{
        width: 95%;
    }

    section{
        padding: 40px 0;
    }
    
    .scooter-sharing{
        padding: 150px 0;
    }

    .media-line{
        top: 78%;
    }

    .longline-from-right{
        top: 13%;
    }

    .line-from-left{
        top: 37%;
    }

    .short-line-from-right{
        top: 70%;
    }   

}

@media (max-width: 395px){
    .number{
        margin-top: -20px;
    }
}